<!doctype html>
<html lang="en" rem="750">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册人脸</title>
    <link rel="stylesheet" href="../static/css/u-reset.min.css">
    <link rel="stylesheet" href="../static/css/zhuce.css">
</head>
<body>
    <div class="header">
        <div class="son1"></div>
        <div class="son2"></div>
        <div class="son3"></div>
        <div class="son4"></div>
    </div>
    <div class="text1">请通过人脸识别验证您的身份</div>
    <div class="text2">请按照以下步骤完成脸部注册</div>
    <div class="inputBox">
        <div class="dian"></div>
        <input type="text">
        <div class="del">×</div>
    </div>
    <div class="btn">
        开始识别
    </div>
</body>
<script src="../static/js/jquery-3.4.1.js"></script>
<script src="../static/js/zhuce.js"></script>
</html>